page-masuk {
    .logo{
        width: 20vw;
        height: 20vw; 
        margin-top: 15vh;
    }

    .background{
        background: 
        linear-gradient(rgba(255, 255, 255, 0.75)),
        url("https://image.shutterstock.com/image-photo/handsome-man-casual-clothes-talking-450w-566893900.jpg");
    }

    .item-md{
        background: rgba(0, 0, 0, 0)
    }
}